<div id="login">
  <div class="lpanel">
    <div class="panel">
      <img src="" alt="">
      <h4>WELCOME TO ASARS!</h4>
    	<% if user_signed_in? %>
	      <p><strong>Email</strong>: <%=current_user.email%></p>
	      <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %></p>
        <!--dashboard-->
        <div class="container wrap">
          <div class="row">
            <div class="onethird wrap">
              <div class="panel shadow">
                <div class="paneltitle">Recent Activities</div>
                <div class="panelbody">
                  <ul>
                    <li>blah blah for blah blah</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="twothird wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  <div class="onethird">insert graph
                  </div>
                  <div class="onethird">insert graph
                  </div>
                  <div class="onethird">insert graph
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="whole wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  insert line graph
                </div>
                <div class="panelfooter">
                  insert week
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="onehalf wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  map
                </div>
              </div>
            </div>
            <div class="onehalf wrap">
              <div class="panel">
                <div class="panelbody">
                  store stat
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end dashboard-->
      <% else %>
        <!--turn to button-->
	      <p><%= link_to "Login", new_user_session_path %></p>
	    <% end %>
      <!--what is this thing outside the if else statement? sample links?-->
      <h5><%= link_to "Home", root_path %> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></h5>
    </div>
  </div>
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>