<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
      <!-- css link -->
      <link href="css/style.css" rel="stylesheet" type="text/css">

      <!--font link-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

      <title>Concepcion Midea: Sell Out Tracker</title>
  </head>
  <body>
    <div id="login">
      <div class="lpanel">
        <div class="panel">
          <img src="" alt="">
          <h4>ADMIN</h4>
          <form>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
              <% end -%>

              <div class="actions">
                  <%= f.submit "Log in" %>
              </div>
            <% end %>
          </form>
          <center>
          <h5><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%></h5>
          </center>
        </div>
      </div>
      <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
    </div>
  </body>
</html> 