<div id="login">
  <div class="lpanel">
    <div class="panel">
      <!--put midea logo-->
      <img src="" alt="">
      <h4>ADMIN</h4>
      <form>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!--please clarify what the class field is for-->
          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email", :required => true %> 
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :required => true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div>
              <!--please move to the left-->
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

<<<<<<< HEAD
          <div class="actions">
              <%= f.submit "Log in" %>
          </div>
        <% end %>
      </form>
      <!--login/forgot password links-->
      <h5><%= render "devise/shared/links" %></h5>
=======
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
              </div>
              <% end -%>

              <div class="actions">
                  <%= f.submit "Log in" %>
              </div>
            <% end %>
          </form>
          <center>
          <h5><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%></h5>
          </center>
        </div>
      </div>
      <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
>>>>>>> 6c0fa5841bc356c522649e4ff9656fbda405a10b
    </div>
  </div>
  <!--change copyright to c accent e in triste-->
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>
